*
{
    margin:0;
    padding:0;
}


#black
{
    margin-top: 0;
    background-color:black;
    position:absolute;
    height: 5rem;
    width:100%;
}
#navbar::before
{
    content: "";
    background-color: black;
    z-index:-1;
    position: absolute;
    height: 100%;
    width: 5000rem;
    opacity:0.4;
}


#navbar
{
    display:flex;
    align-items: center;
    position: fixed;
    font-family: montserrat;
    height: 5rem;
    width:100%;
    z-index: 100;
}

#logo
{
    margin:0rem 0rem;
}

#logo img
{
    margin-left: 1rem;
    height: 4rem;
    
}

/* navigation bar list styling */
.greater
{
    /* position: relative; */
    width:14rem;
    margin-left: 0.5rem;
    color:white;
    font-size: 0.5rem;
}
.greater h1
{

    font-size:1.5rem;
    font-weight: bold;
    font-family: Montserrat;
}



#navbar ul
{
    margin-left: 4rem;
    display:flex;
}

#navbar ul li a
{
    display: block;
    color:white;
    text-decoration: none;
    padding-left:1.7rem;  
}

#home::before
{
    content: "";
    top:0px;
    position: absolute;
    background:linear-gradient(180deg,rgba(245, 243, 243, 0),black),url('img/backpacker-using-her-phone-hostel-varanasi-india.jpg') no-repeat center center/cover;
    z-index:-2;
    height: 46rem;
    width: 100%;
}

.services-container
{
    margin-top:6rem;
    height:45rem;
    background-color: #D3D3D3;
}

.side h1 
{
    border-bottom:0.34rem solid black; 
    font-size:2rem;
    font-weight: 1000;
    font-family: Montserrat;
    position: absolute;
    margin-top:10rem;
    margin-left:15rem;
    padding:0.5rem;
}
.side p
{
    position: absolute;
    margin-top:18rem;
    margin-left: 15rem;
    padding:10px; 
    width:70%;  
}
.side p:nth-child(2)
{
    position: absolute;

    margin-top:22rem;
    margin-left: 15rem;
    padding:0.5rem; 
    width:70%;  
}
.side p:nth-child(3)
{
    position: absolute;

    margin-top:27rem;
    margin-left: 15rem;
    padding:0.5rem; 
    width:70%;  
}
.side p:nth-child(4)
{
    position: absolute;

    margin-top:31rem;
    margin-left: 15rem;
    padding:0.5rem; 
    width:70%;  
}

.orient  
{
    float:right;
    color:white;
    font-size:2.5rem;
    font-family: Montserrat;
    writing-mode: vertical-rl;
    margin-top:26rem;
    background: -webkit-linear-gradient(180deg,rgb(244, 232, 232), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




#hostel-section .box  
{
    top:-3rem;
    width:15rem;

    margin-left: 1.5rem;
    margin-right:1.5rem;
    height: 15rem;
    border-bottom:  2.5rem solid rgba(40, 40, 40, 0.6);
}

#hostel-section a div h1
{
    position:relative;
    top: 15.7rem;
    justify-content: center;

    text-align:center;
    color:white;    
    font-size:1rem;
    font-family:Montserrat;
}
