/* CSS reset */

*
{
    margin:0;
    padding:0;
}
#black
{
    margin-top: 0;
    background-color:black;
    position:absolute;
    height: 5rem;
    width:100%;
}
/* css variables */
:root
{
    --navbar-height:59px;
}

/* navigation bar */
#navbar
{
    display:flex;
    align-items: center;
    position: fixed;
    font-family: montserrat;
    height: 5rem;
    width:100%;
    z-index: 100;
}

#logo
{
    margin:0rem 0rem;
}

#logo img
{
    margin-left:0.5rem;
    height: 4rem;
    
}

/* navigation bar list styling */
.greater
{
    position: relative;
    margin-left:1rem;
    margin-top:-1rem;
    color:white;
}
.greater h1
{

    font-size:2rem;
    font-weight: bold;
    font-family: Montserrat;
}
#navbar ul
{
    margin-left: 15rem;
    display:flex;
}
#navbar::before
{
    content: "";
    background-color: black;
    z-index:-1;
    position: absolute;
    height: 100%;
    width: 5000rem;
    opacity:0.4;
}
#navbar ul li
{
    list-style: none;
    font-size: 1.3rem;
    font-weight:bold;  
}

#navbar ul li a
{
    display: block;
    color:white;
    text-decoration: none;
    padding-left:3rem;  
}
#navbar ul li a:hover
{
   color:grey;
   
}

/* Home section  */

#home
{
    display:flex;
    flex-direction: column;
    height:40rem;
    justify-content: center;
    align-items: center;
}
#home::before
{
    content: "";
    top:0px;
    position: absolute;
    background:linear-gradient(180deg,rgba(245, 243, 243, 0),black),url('img/backpacker-using-her-phone-hostel-varanasi-india.jpg') no-repeat center center/cover;
    z-index:-2;
    height: 46rem;
    width: 100%;
}


#home .upper
{
    margin-top: 10rem;
    text-align: center;
}

.h-primary
{
    color:white;
    font-size: 3.5rem;
    padding:1rem;
    font-weight: bolder;
}



.services-container
{
    margin-top:6rem;
    height:45rem;
    background-color: #D3D3D3;
}

.side h1 
{
    border-bottom:0.34rem solid black; 
    font-size:3rem;
    font-weight: 1000;
    font-family: Montserrat;
    position: absolute;
    margin-top:10rem;
    margin-left: 25rem;
    padding:0.5rem;
}
.side p
{
    position: absolute;
    margin-top:18rem;
    margin-left: 25rem;
    padding:10px; 
    width:70%;  
}
.side p:nth-child(2)
{
    position: absolute;

    margin-top:22rem;
    margin-left: 25rem;
    padding:0.5rem; 
    width:70%;  
}
.side p:nth-child(3)
{
    position: absolute; 
;
    margin-top:27rem;
    margin-left: 25rem;
    padding:0.5rem; 
    width:70%;  
}
.side p:nth-child(4)
{
    position: absolute;
    margin-top:31rem;
    margin-left: 25rem;
    padding:0.5rem; 
    width:70%;  
}

.orient  
{
    position: absolute;
    margin-top: 19rem;
    margin-left: -1rem;
    color:white;
    font-size:3.5rem;
    font-family: Montserrat;
    writing-mode: vertical-rl;
    background: -webkit-linear-gradient(180deg,rgb(140, 139, 143), rgb(6, 6, 6));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hostel-section
{

    background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(122, 119, 128));
    width: 100%;
    height:100%;
    align-items: center;
    justify-content:center;
    box-sizing: border-box;
    /* text-shadow: -1.7px -1.7px 1.7px rgb(241, 8, 183); */
}


#hostel-section a:nth-child(1) div
{ 

    background: url(img/abhostel.png) no-repeat center center/cover  ;
    margin-top: -3rem;
}
#hostel-section a:nth-child(2) div
{
    margin-top: -3rem;
    background: url(img/ezstays.jpeg) no-repeat center center/cover  ;
    
}
#hostel-section a:nth-child(3) div
{
    margin-top: -3rem;
    background: url(img/magadhinn.png) no-repeat center center/cover  ;
}
#hostel-section div:nth-child(2) a:nth-child(1)  div
{
    margin-top:5rem;
    margin-bottom:3rem;
    background: url(img/stanza.jpg) no-repeat center center/cover  
}
#hostel-section div:nth-child(2) a:nth-child(2)  div
{
    margin-top: 5rem;
    margin-bottom: 3rem;
    background: url(img/NALANDA.png) no-repeat center center/cover  ;
}
#hostel-section div:nth-child(2) a:nth-child(3) div
{
    margin-top: 5rem;
    margin-bottom: 3rem;

    background: url(img/clanbridge.png) no-repeat center center/cover  ;
}

#hostel-section a div
{
    transition: all 0.5s ease-in-out;
}

#hostel-section a div:hover
{
    transform: scale(1.09);
    text-decoration: underline;
    text-underline-offset: 0.5em;
    text-decoration-color:blueviolet;
    text-decoration-thickness: 0.3em;
    
}

#hostel-section .container
{
    display:flex;
    align-items: flex-start;
    justify-content:center;
    width:100%;
    flex-wrap: wrap;

    height:40%;
    box-sizing: border-box;
}

#hostel-section .box  
{
    top:-3rem;
    width:20rem;

    margin-left: 1.5rem;
    margin-right:1.5rem;
    height: 20rem;
    border-bottom:  3rem solid rgba(40, 40, 40, 0.6);
}

#hostel-section a div h1
{
    position:relative;
    top: 20.5rem;
    justify-content: center;

    text-align:center;
    color:white;    
    font-size:1.5rem;
    font-family:Montserrat;
}






/* Clients section */

#client-section
{
    height:100%;
}
.client-h
{
    font-size: 3rem;
    padding-top:3rem; 
    text-decoration: underline;
    text-underline-offset: 0.4em; 
    font-family: Montserrat;
}
#client-section::before
{
    content: "";
    position: absolute;
    background: url(img/raj.jpg) no-repeat center center/cover ;
    width: 100%;
    height: 40rem;
    z-index: -1;
    opacity: 0.7;
}
#clients
{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#clients img
{
    position: relative;
    top:5rem;
   height:10rem;
   margin-bottom:10rem ;
}











/* CONTACT SECTION  */
#contact
{
    color:white;

    height:100%;
}
#contact >h1
{
    padding-top:5rem;
}
#contact::before
{
    content:"";
    position:absolute;
    width:100%;
    height: 48rem;
    z-index: -1;
    background: black;


}

#contact-box
{
    display: flex;
    justify-content: center;
    align-items: center;

}
#contact-box input,
#contact-box textarea
{
    width: 100%;
    padding:0.5rem;
    border-radius:1rem;
    font-size:1.1rem;
}
#contact-box form
{
    width:40%;
}
#contact-box label
{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;

}

footer
{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;
    padding:0.7rem 1.4rem;
    margin-top: 5rem;
}
/* Utility classes */


.center
{
    text-align:center;
    /* margin-top:100rem; */
}
.submit 
{
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top:2rem;
}
.submit button
{
    background-color: maroon;
    color: white;
    padding:1rem;
    font-size:1.5rem;
    border-radius: 0.7rem;
    width:10rem
}
