
*
{
    margin:0;
    padding:0;
}


#black
{
    margin-top: 0;
    background-color:black;
    position:absolute;
    height: 5rem;
    width:100%;
}
#navbar::before
{
    content: "";
    background-color: black;
    z-index:-1;
    position: absolute;
    height: 100%;
    width: 5000rem;
    opacity:0.4;
}


#navbar
{
    display:flex;
    align-items: center;
    position: fixed;
    font-family: montserrat;
    height: 5rem;
    width:100%;
    z-index: 100;
}

#logo
{
    margin:0rem 0rem;
}

#logo img
{
    margin-left: 1rem;
    height: 2.5rem;
    
}

/* navigation bar list styling */
.greater
{
    /* position: relative; */
    width:14rem;
    margin-left: 0.5rem;
    margin-top: 0rem;
    color:white;
    font-size: 0.5rem;
}
.greater h1
{

    font-size:1rem;
    font-weight: bold;
    font-family: Montserrat;
}

#navbar ul li
{
    list-style: none;
    font-size: 1rem;
    font-weight:bold;  
}

#navbar ul
{
    margin-left: 2rem;
    display:flex;
    display: none;
}

#navbar ul li a
{
    display: block;
    color:white;
    text-decoration: none;
    padding-left:1rem;  
}
#home 
{
    display: flex;
    flex-direction: column;
    height: 28rem;
    justify-content: center;
    align-items: center;
}
.h-primary
{
    color:white;
    font-size: 2rem;
    padding:1rem;
    font-weight: bolder;
}
#home::before
{
    content: "";
    top:0px;
    position: absolute;
    background:linear-gradient(180deg,rgba(245, 243, 243, 0),black),url('img/backpacker-using-her-phone-hostel-varanasi-india.jpg') no-repeat center center/cover;
    z-index:-2;
    height: 35rem;
    width: 100%;
}

.services-container
{
    margin-top:6rem; 
    width: 100%;
    height:100%;
    background-color: #D3D3D3;
    overflow-x: auto;

}
.side
{
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content:center;
}
.side h1 
{

    border-bottom:0rem solid black; 
    font-size:2rem;
    top:0rem;
    font-weight: 1000;
    font-family: Montserrat;
    position: relative;
    margin-top:0rem;
    margin-left:0rem;
    padding:1rem;
}
.side p
{
    position: relative;
    margin-top:0rem;
    margin-left: 0rem;
    padding-top:0.5rem; 

    top:0rem;
    width:70%;  

}
.side p:nth-child(2)
{
    position: relative;
    color:blue;
    top: 0rem;
    margin-top: 0rem;
    margin-left: 0rem;
    padding-top:0.5rem; 
    width:70%;  
}
.side p:nth-child(3)
{
    position: relative;
    color:cyan;
    margin-top: 0rem;
    top:0rem;
    margin-left: 0rem;
    padding-top:0.5rem; 
    width:70%;  
}
.side p:nth-child(4)
{
    position: relative;
    color: green;
    top:0rem;
    margin-top:0rem;
    margin-left: 0rem;
    padding-top:0.5rem; 
    width:70%;  
}

.orient  
{
    display:none;
}



#hostel-section a:nth-child(1) div
{ 

    margin-bottom:1rem;
    background: url(img/abhostel.png) no-repeat center center/cover  ;
    margin-top: 1.5rem;
}
#hostel-section a:nth-child(2) div
{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background: url(img/ezstays.jpeg) no-repeat center center/cover  ;
    
}
#hostel-section a:nth-child(3) div
{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background: url(img/magadhinn.png) no-repeat center center/cover  ;
}
#hostel-section div:nth-child(2) a:nth-child(1)  div
{
    margin-top:1rem;
    margin-bottom:3rem;
    background: url(img/stanza.jpg) no-repeat center center/cover  
}
#hostel-section div:nth-child(2) a:nth-child(2)  div
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: url(img/NALANDA.png) no-repeat center center/cover  ;
}
#hostel-section div:nth-child(2) a:nth-child(3) div
{
    margin-top: 1rem;
    margin-bottom: 1rem;

    background: url(img/clanbridge.png) no-repeat center center/cover  ;
}

#hostel-section a div
{
    transition: all 0.5s ease-in-out;
}

#hostel-section a div:hover
{
    transform: scale(1.09);
    text-decoration: underline;
    text-underline-offset: 0.5em;
    text-decoration-color:blueviolet;
    text-decoration-thickness: 0.3em;
    
}

#hostel-section .container
{
    display:flex;
    align-items: flex-start;
    justify-content:center;
    width:100%;
    flex-wrap: wrap;

    height:40%;
    box-sizing: border-box;
}

#hostel-section .box  
{
    top:-3rem;
    width:16.7rem;
    height: 13rem;
    margin-left: 0.5rem;
    margin-right:0.5rem;
    border-bottom:  2rem solid rgba(40, 40, 40, 0.6);
}

#hostel-section a div h1
{
    position:relative;
    top: 13.5rem;
    justify-content: center;

    text-align:center;
    color:white;    
    font-size:1rem;
    font-family:Montserrat;
}





#clients img {
    position: relative;
    top: 2rem;
    height: 10rem;
    margin-bottom: 5rem;
}
.client-h
{
    font-size: 1rem;
    padding-top:1rem; 
    text-decoration: underline;
    text-underline-offset: 0.3em; 
    font-family: Montserrat;
}

#clients img
{
   height:3rem;
}

#contact-box form
{
    width:80%;

}






footer
{
    background-color: black;
    color:white;
    padding:0.7rem 1.4rem;
    margin-top: 5rem;
}
/* Utility classes */


.center
{
    text-align:center;
    /* margin-top:100rem; */
}
.submit 
{
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top:2rem;
}
.submit button
{
    background-color: maroon;
    color: white;
    padding:0.5rem;
    font-size:1rem;
    border-radius: 0.5rem;
    width:5rem
}


#contact
{
    color:white;

    height:100%;
}
#contact >h1
{
    padding-top:5rem;
}
#contact::before
{
    content:"";
    position:absolute;
    width:100%;
    height: 36rem;
    z-index: -1;
    background: black;


}

#contact-box
{
    display: flex;
    justify-content: center;
    align-items: center;

}
#contact-box input,
#contact-box textarea
{
    width: 100%;
    padding:0.3rem;
    border-radius:0.5rem;
    font-size:0.7rem;
}

#contact-box label
{
    font-size: 0.7rem;
    font-family: Montserrat;

}
