*
{
    margin:0;
    padding:0;
}


#black
{
    margin-top: 0;
    background-color:black;
    position:absolute;
    height: 5rem;
    width:100%;
}
#navbar::before
{
    content: "";
    background-color: black;
    z-index:-1;
    position: absolute;
    height: 100%;
    width: 5000rem;
    opacity:0.4;
}


#navbar
{
    display:flex;
    align-items: center;
    position: fixed;
    font-family: montserrat;
    height: 5rem;
    width:100%;
    z-index: 100;
}

#logo
{
    margin:0rem 0rem;
}

#logo img
{
    margin-left: 1rem;
    height: 4rem;
    
}

/* navigation bar list styling */
.greater
{
    /* position: relative; */
    width:14rem;
    margin-left: 0.5rem;
    color:white;
    font-size: 0.5rem;
}
.greater h1
{

    font-size:1.5rem;
    font-weight: bold;
    font-family: Montserrat;
}



#navbar ul
{
    margin-left: 4rem;
    display:flex;
}

#navbar ul li a
{
    display: block;
    color:white;
    text-decoration: none;
    padding-left:1.7rem;  
}

#home::before
{
    content: "";
    top:0px;
    position: absolute;
    background:linear-gradient(180deg,rgba(245, 243, 243, 0),black),url('img/backpacker-using-her-phone-hostel-varanasi-india.jpg') no-repeat center center/cover;
    z-index:-2;
    height: 46rem;
    width: 100%;
}

.services-container
{
    margin-top:6rem;
    height:45rem;
    background-color: #D3D3D3;
}

.side h1 
{
    border-bottom:0.34rem solid black; 
    font-size:2rem;
    font-weight: 1000;
    font-family: Montserrat;
    position: absolute;
    margin-top:10rem;
    margin-left:15rem;
    padding:0.5rem;
}
.side p
{
    position: absolute;
    margin-top:18rem;
    margin-left: 15rem;
    padding:10px; 
    width:70%;  
}
.side p:nth-child(2)
{
    position: absolute;
    color:blue;
    margin-top:22rem;
    margin-left: 15rem;
    padding:0.5rem; 
    width:70%;  
}
.side p:nth-child(3)
{
    position: absolute;
    color:cyan;
    margin-top:27rem;
    margin-left: 15rem;
    padding:0.5rem; 
    width:70%;  
}
.side p:nth-child(4)
{
    position: absolute;
    color: green;
    margin-top:31rem;
    margin-left: 15rem;
    padding:0.5rem; 
    width:70%;  
}

.orient  
{
    float:right;
    color:white;
    font-size:2.5rem;
    font-family: Montserrat;
    writing-mode: vertical-rl;
    margin-top:26rem;
    background: -webkit-linear-gradient(180deg,rgb(244, 232, 232), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



#hostel-section
{

    background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(243, 243, 237));
    width: 100%;
    height: 101rem;
    /* text-shadow: -1.7px -1.7px 1.7px rgb(241, 8, 183); */
}

#hostel-section a:nth-child(1) div
{ 
    margin-left:13rem;
    margin-bottom: 5rem;
    background: url(img/abhostel.png) no-repeat top center/cover;
    
    background-repeat: no-repeat;
}
#hostel-section a:nth-child(2) div
{
    margin-left:3rem;
    background: url(img/ezstays.jpeg) no-repeat top center/cover;
    background-repeat: no-repeat;
    
}
#hostel-section a:nth-child(3) div
{
    margin-left:13rem;
    background: url(img/magadhinn.png) no-repeat top top/cover;
    background-repeat: no-repeat;
}
#hostel-section a:nth-child(4) div
{
    margin-left:3rem;
    background: url(img/stanza.jpg) no-repeat top center/cover;
    background-repeat: no-repeat;
}
#hostel-section a:nth-child(5) div
{
    margin-left:13rem;
    background: url(img/NALANDA.png) no-repeat top center/cover;
    background-repeat: no-repeat;
}
#hostel-section a:nth-child(6) div
{
    margin-top:5rem;
    margin-left:3rem;
    background: url(img/clanbridge.png) no-repeat top center/cover;
    background-repeat: no-repeat;
}

#hostel-section a div
{
    transition: all 0.5s ease-in-out;
}

#hostel-section a div:hover
{
    transform: scale(1.09);
    text-decoration: underline;
    text-underline-offset: 0.5em;
    text-decoration-color:blueviolet;
    text-decoration-thickness: 0.3em;
    
}
#hostel-section .box  
{

    position: relative;
    top:-3rem;
    width:24rem;
    margin-top:-5rem;
    height: 28rem;
    margin-left:7rem;
    padding:0rem;
    border-bottom:  4.5rem solid rgba(40, 40, 40, 0.6);
}

#hostel-section a div h1
{
    position:relative;
    top: 29rem;
    justify-content: center;
    justify-items: last baseline;
    text-align:center;
    color:white;    
    font-size:1.5rem;
    font-family:Montserrat;
}




/* Clients section */
#client-section
{
    height:27rem;
}
.client-h
{
    font-size: 3rem;
    padding-top: 10rem; 
    text-decoration: underline;
    text-underline-offset: 0.4em; 
    font-family: Montserrat;
}
#client-section::before
{
    content: "";
    position: absolute;
    background: url(img/raj.jpg) no-repeat center center/cover;
    width: 100%;
    height: 37rem;
    z-index: -1;
    opacity: 0.7;
}
#clients
{
    display:flex;
    justify-content: center;
    align-items: center;
}
.client-items
{
    padding:2rem;
}
#clients img
{
   height:10rem;
}


#contact-box form
{
    width:80%;
}